body {
  display: flex;
  justify-content: center;   /* centre horizontalement */
  align-items: center;       /* centre verticalement */
  height: 100vh;             /* toute la hauteur */
  margin: 0;
  background-color: #f0f0f0; /* optionnel */
}

#chessboard {
  display: grid;
  grid-template-columns: 5% repeat(8, 1fr);   /* première colonne = labels verticaux */
  grid-template-rows: repeat(8, 1fr) 5%;      /* dernière ligne = labels horizontaux */

  width: 90vw;        /* prend 90% de la largeur écran */
  max-width: 90vh;    /* mais pas plus que la hauteur */
  aspect-ratio: 1/1;  /* carré parfait */
  
  border: 2px solid black;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;      /* adaptatif avec la largeur écran */
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: sans-serif;
  user-select: none;
  font-size: 2vw;       /* taille adaptative aussi */
}

.dark {
  background-color: #789957;
}

.light {
  background-color: #eeeed2;
}

.checked {
  background-color: red !important;
}

.selected {
  outline: 0.4vw solid blue;
  outline-offset: -0.4vw;
  border-radius: 5px;
}

.highlight_dark {
  background-color: rgba(25, 73, 25, 0.6) !important;
}

.highlight_light {
  background-color: rgba(160, 159, 149, 0.6) !important;
}